:root {
  --body-bg: #fff;
  --text-color: #000;
  --border: 1px solid #000;
  --btn-bg-color: #eee;
}

[data-theme="dark"] {
  --body-bg: #000;
  --text-color: #fff;
  --border: 2px solid #f00;
  --btn-bg-color: transparent;
}

/* .dark-mode {
  --body-bg: #000;
  --text-color: #fff;
  --border: 2px solid #f00;
  --btn-bg-color: transparent;
} */

* {
  transition: all 0.2s ease;
}

body {
  background-color: var(--body-bg);
}

.button,
#toggle-btn {
  color: var(--text-color);
  border: var(--border);
  background-color: var(--btn-bg-color);
}

.result {
  color: var(--text-color);
}

/* dark-mode

.dark-mode {
  background-color: black;
}

.name-dark-mode {
}

.button-dark-mode {
  color: white;
  border: 2px solid red;
  background-color: transparent;
}

.result-dark-mode {
  color: #eee;
} */
